<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imozuluweatherapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity
            android:name=".UsersList"
            android:exported="false" />
        <!--
        <activity
            android:name=".NavigationHeaderActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ForecastDailyActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".DrawerMain"
            android:exported="false" />
        <activity
            android:name=".MainBottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".NewsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NewsMainActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" />
        <activity
            android:name=".UpdateEmailActivity"
            android:exported="false" />
        <activity
            android:name=".cityFinder"
            android:exported="false" />
        <activity
            android:name=".MainWeatherActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Upload_profilePicActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
<activity
            android:name=".WeatherActivity"
            android:exported="false" />
        -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7964570743474991~9163181134" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>